* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem 1.25rem;

}

nav {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 1.25rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

#slogan {
    color: #D6000D;
    font-size: 2.25rem;
    font-weight: bold;
    text-decoration: none;
}

#slogan::after {
    content: ' ';
  display:inline-block;
    background:black;
    height:5px;
    width:5px;
    border-radius: 50%;
}


#button-login{
    background: #D6000D;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 14.5%;
    font-size: 18px;
    color: rgb(248, 248, 248);
    line-height: 16px;
    height:2.5rem;
}

#div-img {
    display: flex;
}


.img-video-call{

    height: 20rem;
}